body {
    margin: 0;
}

.wrap{
    margin-top: 0;
    background-color: #191970;
    padding-top: 15px;
    padding-bottom: 50px;
}

.search-form{
    display: flex;
    gap: 15px;
    margin-top: 40px;
    margin-left: 50%;
    margin-right: 50%;

}